html,
body {
  width: 100vw;
  overflow-x: hidden;
  color: white;
  /* background: url(../public/tony.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(25, 25, 58);
}